<h2>Button</h2>

<hr />

<p>
  A collection of CSS and Javascript button and button effect designs
</p>

<section id="buttons">
  <h3>Button Styles</h3>
  <p>All button colours applied with the button class name and the desired colour. For example .b1-primary or .b1-cancel</p>
  <section class="set">
    <p class="title">.b1 with .b-shadow</p>
    <!-- standard button with shadow and push effect -->
    <section class="button-set">
      <button class="b1 b1-primary b-shadow" (click)='doSomething()'>BUTTON</button>
      <button class="b1 b1-secondary b-shadow" (click)='doSomething()'>BUTTON</button>
      <button class="b1 b1-cancel b-shadow" (click)='doSomething()'>BUTTON</button>
      <button class="b1 b1-neutral b-shadow" (click)='doSomething()'>BUTTON</button>
    </section>
  </section>

  <section class="set">
    <!-- outline button with fill effect -->
    <p class="title">.b2</p>
    <section class="button-set">
      <button class="b2 b2-primary background-fade-medium color-fade-medium" (click)='doSomething()'>BUTTON</button>
      <button class="b2 b2-secondary background-fade-medium color-fade-medium" (click)='doSomething()'>BUTTON</button>
      <button class="b2 b2-cancel background-fade-medium color-fade-medium" (click)='doSomething()'>BUTTON</button>
      <button class="b2 b2-neutral background-fade-medium color-fade-medium" (click)='doSomething()'>BUTTON</button>
    </section>
  </section>

  <section class="set">
    <!-- emboss button -->
    <p class="title">.b3</p>
    <section class="button-set">
      <button class="b3 b3-primary border-box-shadow-fast color-fade-fast" (click)='doSomething()'>BUTTON</button>
      <button class="b3 b3-secondary border-box-shadow-fast color-fade-fast" (click)='doSomething()'>BUTTON</button>
      <button class="b3 b3-cancel border-box-shadow-fast color-fade-fast" (click)='doSomething()'>BUTTON</button>
      <button class="b3 b3-neutral border-box-shadow-fast color-fade-fast" (click)='doSomething()'>BUTTON</button>
    </section>
  </section>

  <section class="set">
    <p class="title">.b4</p>
    <!-- standard button with shadow and push effect -->
    <section class="button-set">
      <button class="b4 b4-primary b-shadow border-box-shadow-fast" (click)='doSomething()'>BUTTON</button>
      <button class="b4 b4-secondary b-shadow border-box-shadow-fast" (click)='doSomething()'>BUTTON</button>
      <button class="b4 b4-cancel b-shadow border-box-shadow-fast" (click)='doSomething()'>BUTTON</button>
      <button class="b4 b4-neutral b-shadow border-box-shadow-fast" (click)='doSomething()'>BUTTON</button>
    </section>
  </section>
</section>
