<section id="header" class="mat-elevation-z6">
  <section id="header-left" class="header-section">
    <button mat-button>Max Platt</button>
    <button mat-button [routerLink]="['/main']">Main</button>
  </section>
  <section id="header-right" class="header-section">
    <button mat-button [routerLink]="['/button']">Button</button>
    <button mat-button [routerLink]="['/effect']">Effects</button>
    <button mat-button [routerLink]="['/layout']">Layout</button>
    <button mat-button [routerLink]="['/list']">List</button>
    <button mat-button [routerLink]="['/nav']">Nav</button>
  </section>
</section>
