<h2>
  CSS and Javascript experiments
</h2>

<hr />

<p>This is a selection of elements and effects built with CSS, Javascript, and Angular. As much as possible I tried to stick to pure CSS, and use Javascript when needed. I used Angular to make modular components that could easily be reused using Inputs and animations.</p>

<p>Links to git pages for each of the components or pages can be found with the examples.</p>

<p>Some animation styles for smooth changes are used throughout, and they can be found <a href="https://github.com/makxks/Front-End/blob/master/src/animation-styles.css">here</a>.
