<h2>Effect</h2>

<hr />

<p>
  A selection of loading and other effects using angular components.
</p>

<section id="effects">

  <section class="set">
    <p class="title">Dots using loading-dots component. <a href="https://github.com/makxks/Front-End/tree/master/src/app/loading-dots">Github Link</a>
    </p>
    <loading-dots></loading-dots>
  </section>

  <section class="set">
    <p class="title">Circle using loading-circle component. <a href="https://github.com/makxks/Front-End/tree/master/src/app/loading-circle">Github Link</a>
    </p>
    <loading-circle></loading-circle>
  </section>

  <section class="set">
    <p class="title">Stripes using loading-stripes and loading-stripes-smooth components. Github links <a href="https://github.com/makxks/Front-End/tree/master/src/app/loading-stripes">loading-stripes</a> <a href="https://github.com/makxks/Front-End/tree/master/src/app/loading-stripes-smooth">loading-stripes-smooth</a>
    </p>
    <loading-stripes></loading-stripes>
    <loading-stripes-smooth></loading-stripes-smooth>
  </section>

  <section class="set">
    <p class="title">Bar using loading-bar component. <a href="https://github.com/makxks/Front-End/tree/master/src/app/loading-bar">Github link</a>
    </p>
    <loading-bar></loading-bar>
  </section>

  <section class="set">
    <p class="title">Squares using loading-squares component. <a href="https://github.com/makxks/Front-End/tree/master/src/app/loading-squares">Github link</a>
    </p>
    <loading-squares></loading-squares>
  </section>

  <section class="set">
    <p class="title">Content change horizontal fade effect. The JS functions for these changes can be found on Github <a href="https://github.com/makxks/Front-End/blob/master/src/app/effect-page/effect-page.component.ts">here</a>.
    </p>
    <div class="fade-container">
      <div id="fade-out-horizontal">
        <p>Something To Fade In And Out</p>
      </div>
      <div id="fade-in-horizontal">
        <p>Something Else To Fade In And Out</p>
      </div>
    </div>
    <div class="button-container">
      <button class="b1 b1-primary" (click)="fadeHorizontal()">Fade Horizontal</button>
    </div>
  </section>

  <section class="set">
    <p class="title">Content change vertical fade effect. The JS functions for these changes can be found on Github <a href="https://github.com/makxks/Front-End/blob/master/src/app/effect-page/effect-page.component.ts">here</a>.
    </p>
    <div class="fade-container">
      <div id="fade-out-vertical">
        <p>Something To Fade In And Out</p>
      </div>
      <div id="fade-in-vertical">
        <p>Something Else To Fade In And Out</p>
      </div>
    </div>
    <div class="button-container">
      <button class="b1 b1-primary" (click)="fadeVertical()">Fade Vertical</button>
    </div>
  </section>

  <section class="set">
    <p class="title">Content change opacity fade effect. The JS functions for these changes can be found on Github <a href="https://github.com/makxks/Front-End/blob/master/src/app/effect-page/effect-page.component.ts">here</a>.
    </p>
    <div class="fade-container">
      <div id="fade-out-opacity">
        <p>Something To Fade In And Out</p>
      </div>
      <div id="fade-in-opacity">
        <p>Something Else To Fade In And Out</p>
      </div>
    </div>
    <div class="button-container">
      <button class="b1 b1-primary" (click)="fadeOpacity()">Fade Opacity</button>
    </div>
  </section>

</section>
