<h2>Effect</h2>

<hr />

<p>
  A selection of loading and other effects using angular components.
</p>

<section id="effects">

  <section class="set">
    <p class="title">Dots using loading-dots component
    </p>
    <loading-dots></loading-dots>
  </section>

  <section class="set">
    <p class="title">Circle using loading-circle component
    </p>
    <loading-circle></loading-circle>
  </section>

  <section class="set">
    <p class="title">Stripes using loading-stripes and loading-stripes-smooth components
    </p>
    <loading-stripes></loading-stripes>
    <loading-stripes-smooth></loading-stripes-smooth>
  </section>

  <section class="set">
    <p class="title">Bar using loading-bar component
    </p>
    <loading-bar></loading-bar>
  </section>

  <section class="set">
    <p class="title">Squares using loading-squares component
    </p>
    <loading-squares></loading-squares>
  </section>

  <section class="set">
    <p class="title">Content change fade effect
    </p>
  </section>

</section>
