.loading-circles {
  height: 100px;
  width: 20%;
  margin-left: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  clear: both;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: lightgray;
  border: darkgray 2px solid;
}

.circle-1{
  animation: circle1 2s infinite;
}

.circle-2 {
  animation: circle2 2s infinite;
}

.circle-3 {
  animation: circle3 2s infinite;
}

.circle-4 {
  animation: circle4 2s infinite;
}

.circle-5 {
  animation: circle5 2s infinite;
}

@keyframes circle1 {
  0% {
    width: 20px;
    height: 20px;
    background-color: lightgray;
  }
  30% {
    width: 35px;
    height: 35px;
    background-color: #333;
  }
  60% {
    width: 20px;
    height: 20px;
    background-color: lightgray;
  }
}

@keyframes circle2 {
  10% {
    width: 20px;
    height: 20px;
    background-color: lightgray;
  }
  40% {
    width: 35px;
    height: 35px;
    background-color: #333;
  }
  70% {
    width: 20px;
    height: 20px;
    background-color: lightgray;
  }
}

@keyframes circle3 {
  20% {
    width: 20px;
    height: 20px;
    background-color: lightgray;
  }
  50% {
    width: 35px;
    height: 35px;
    background-color: #333;
  }
  80% {
    width: 20px;
    height: 20px;
    background-color: lightgray;
  }
}

@keyframes circle4 {
  30% {
    width: 20px;
    height: 20px;
    background-color: lightgray;
  }
  60% {
    width: 35px;
    height: 35px;
    background-color: #333;
  }
  90% {
    width: 20px;
    height: 20px;
    background-color: lightgray;
  }
}

@keyframes circle5 {
  40% {
    width: 20px;
    height: 20px;
    background-color: lightgray;
  }
  70% {
    width: 35px;
    height: 35px;
    background-color: #333;
  }
  100% {
    width: 20px;
    height: 20px;
    background-color: lightgray;
  }
}
