<div class="nav-container">
  <button class="background-fade-medium" [ngClass]="setClasses()" (mouseenter)="mouseOverNavFade($event)" (mouseleave)="mouseOutNavFade($event)">
    <h2 class="nav-name" [ngClass]="setColorFadeSpeed()">{{itemname}}</h2>

    <div class="subitems margin-moveable-opacity-medium" *ngIf="subitems.length > 0">
      <nav-subitem *ngFor="let subitem of subitems" [itemname]="subitem.itemname" [itemstyle]="subitem.itemstyle" [route]="subitem.route"></nav-subitem>
    </div>
  </button>
</div>
