/* You can add global styles to this file, and also import other style files */
/* @import 'node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css'; */

html, body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow: scroll;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
p {
  margin: 0;
  position: relative;
}
.title {
  float: left;
  box-shadow: inset 0 0 5px #777;
  border-radius: 5px 0 5px 0;
  padding: 1em;
}
.set {
  width: 100%;
  margin: 2em 0;
  padding: 0;

  -moz-box-shadow:    inset 0 0 5px #777;
  -webkit-box-shadow: inset 0 0 5px #777;
  box-shadow:         inset 0 0 5px #777;

  border-radius: 5px;
}

.dark {
  background-color: #333;
  color: #e3e3e3;
}

.dark .b3 {
  color: #e3e3e3;
}

.dark a {
  color: #70cae6;
}

.dark a:visited {
  color: #a0cae6;
}

.dark a:hover {
  color: #90daeb;
}

.dark a:active {
  color: #aadfff;
}

.dark .loading-squares .loading-squares-small .loading-square-small {
  background-color: #333;
}
